body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
}

.navbar {
    margin-bottom: 20px;
}

.nav-link {
    color: rgb(107, 107, 107) !important;
}

.nav-link:hover {
    background-color: #495057;
}

.main {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 30px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card-columns .card {
    margin-bottom: 20px;
}
